#include "../hihonor_charger/mt6877_ntx_honor_charger.dtsi"

&i2c7 {
	bq25970@65 {
		status = "ok";
	};
	fairchild_fsa9685@25 {
		status = "disabled";
	};
	rt9426a_fg@55 {
		status = "disabled";
	};
};

&i2c0 {
	bq25970@65 {
		status = "disabled";
	};
	sm5450@6F{
		status = "ok";
		support_unbalanced_current_sc = <1>;
		use_typec_plugout_to_quick_exit = <1>;
	};
};

&direct_charger_sc {
	support_multi_ic = <1>;
};

&bat_gm30 {
	status = "ok";
};

&huawei_batt_info {
	shield_ct_sign = <1>;
};
