config KERNEL_SAR_SX932X
	bool "abov sx932x for MediaTek package"
	default n
	help
	  It support different type sensor
	  in this platform. If this option
	  is set, it will support sar sensor sx932x.
